ul{
  list-style-type: disc;
}

tbody{
  background-color: aqua;
}

th{
  padding:10px;
}

thead{
  font-size: 24px;
}

td{
  padding: 4px;
  text-align: left;
}

thead, tfoot{
background-color: brown;
}

table{
  border: 2px solid black;
  border-collapse: collapse;
  margin-left: 10px;
}

th,td{
  border: 1px solid black;
}