div{
  height: 300px;
  background-color: palegreen;
  
}
h1{
  text-align: center;
  background-color: aqua;
}
button{
  display: block;
  text-align: start;
  width: 100px;
  margin: 1px auto 0px;
}
