div{
  border: 1px solid red;
  height: 50px;
}

div:first-of-type{
  margin-bottom: 50px;
  background-color: yellow;
  width: 100px;
}
div:last-of-type{
  margin-top: 25px;
  background-color: blue;
  width: 100px;
 
}
span{
  /* height: 50px;
  width: 100px
  border: 5px solid green; */
  /* padding: 20px; */
  margin: 20px;
}
span:first-of-type{
  background-color: yellow;
}
span:last-of-type{
  background-color: blue;
}