div{
  width: 200px;
  height: 200px;
  background-color: blue;
  margin: 10px;
}
/* img{
  height: auto;
  width: 200px;
} */

/* img{
  width: inherit;
  height: inherit;
  object-fit: contain;
} */

img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}
