div {
  display: flex;
  justify-content: start;
  width: 300px;
  background-color: aqua;
  transition: all 3s;

}

div:hover {
  justify-content: end;
  transition: all 3s;
}

button {
  display: block;
}

.first {
  background-color: gray;
  color: black;
  transition: all 2s;
}

.first:hover {
  color: gray;
  background-color: black;
  transition: all 2s;
  margin-left: 20px;

}

.second {
  width: 50px;
  height: 20px;
  transition: width 1s, height 4s;

}

.second:hover {
  width: 100px;
  height: 40px;
  transition: width 4s, height 1s;
}

.third {
  background-color: red;
  color: black;
  opacity: 0.1;
}

.third:hover {
  opacity: 1;
  transition: opacity 2s;
}

.photo {
  width: 400px;
  height: 350px;
  overflow: hidden;
}

img {
  transition: transform 1s;
}

.photo:hover img {
  transform: scale(1.3);
}