/*  flex-direction: row row-reverse column column-reverse*/
/* смена направления оси */

/* выравнивание вдоль поперечной оси */
/* align-items: strech flex-start center flex-end; */
.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: purple;
}

.user {
  width: 300px;
  overflow: hidden;
  background-color: orange;
  border: 10px solid red;
  border-radius: 30px;
}

.user>img {
  display: block;
  margin: auto;
  width: 100px;
  object-fit: cover;
}

.user>h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.user-footer {
  height: 40px;
  background-color: blue;
}