.users-container {
  display: flex;
  justify-content: flex-start;
  flex-direction:row;
  background-color: purple;
  height: 90vh;
  align-items: stretch;
}

.user {
  width: 300px;
  overflow: hidden;
  background-color: orange;
  border: 10px solid red;
  
  border-radius: 30px;
  
}

.user>img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.user>h3 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.user-footer {
  height: 40px;
  background-color: blue;
}