/* h1{ */
  /* white-space: nowrap; */
  /* white-space: pre */
  /* white-space: pre-line; */
  /* white-space: pre-wrap; */
/* } */
/* div{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
} */

div{
  background-color: blueviolet;
  width: 200px;
  height: 200px;
}
/* h2{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: grab;
} */

h2{
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

