/* body{
  box-sizing: border-box;
  border: 5px solid red;
  height: 100vh;
  margin: 0; 
} */


body{
  position: fixed;
  border: 5px solid red;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
 /* div{
  border: 5px solid red;
  position: fixed;
 } */